.my-stock {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 80px;
}
.nvidia-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.nvidia {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
}
.nvidia-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-7xs);
}
.am-pm-indicator,
.nvda {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.nvda {
  width: 34px;
  min-width: 34px;
}
.am-pm-indicator {
  align-self: stretch;
  color: var(--color-yellowgreen);
  min-width: 33px;
}
.nvda-parent {
  width: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
.monthly-budget {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.current-value,
.div2 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 77px;
}
.div2 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-gray-500);
  min-width: 73px;
  white-space: nowrap;
}
.deta-table-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.group-icon {
  height: 24px;
  width: 78px;
  position: relative;
}
.deta-table-row-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-gray-400);
}
.income-expenses {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-paleturquoise);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base-5) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 138px;
}
.meta-1-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.meta {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.meta-1-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-7xs);
}
.div3,
.meta1 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.meta1 {
  align-self: stretch;
  min-width: 33px;
}
.div3 {
  width: 31px;
  color: var(--color-red);
  min-width: 31px;
}
.meta-parent {
  width: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
.frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.stock-card-slider {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-family: var(--light-basic-typography-paragraph-medium);
  margin: 0;
  width: 1066px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-9xs);
  white-space: nowrap;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
  background-color: black;
}
.stock-card-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-family: var(--light-basic-typography-paragraph-medium);
  width: 1126px;
  background-color: var(--light-solid-color-extra-card-background);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
@media screen and (max-width: 2000px) {
  .stock-card-slider {
    flex-wrap: wrap;
  }
}
