.main-menu {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 65px;
}
.section {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-11xl);
}
.smart-home-icon {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.dashboard2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.badge,
.div {
  align-self: stretch;
}
.div {
  width: 9px;
  position: relative;
  line-height: 14px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.badge {
  width: 22px;
  border-radius: var(--br-xl);
  background-color: var(--light-opacity-color-primary-primary-16);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-7xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--light-basic-typography-paragraph-small-semi-bold-size);
  color: var(--light-solid-color-primary-primary-500-base);
}
.chevron-down-icon {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.list {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: #f3f5f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--color-gray-200);
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  width: 14px;
  height: 2px;
  position: relative;
}
.vector-parent {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.watchlist {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.list1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.vector-icon3 {
  height: 22px;
  width: 21px;
  position: relative;
}
.vector-icon4 {
  height: 54.55%;
  width: 23.64%;
  position: absolute;
  margin: 0 !important;
  top: 22.73%;
  right: 38.18%;
  bottom: 22.73%;
  left: 38.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.transaction-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.5px;
  position: relative;
  gap: var(--gap-3xs);
}
.transaction {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon1 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.list2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.vector-icon5 {
  height: 18px;
  width: 18px;
  position: relative;
}
.vector-icon6 {
  height: 66.82%;
  width: 27.73%;
  position: absolute;
  margin: 0 !important;
  top: 20%;
  right: 39.09%;
  bottom: 13.18%;
  left: 33.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.layer-25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
  position: relative;
  gap: var(--gap-3xs);
}
.withdrawl {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon2 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.apps-pages,
.list3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.list3 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-base);
}
.apps-pages {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.todo {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 31px;
}
.section1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-mini);
}
.vector-icon7 {
  height: 19px;
  width: 18.6px;
  position: relative;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon8,
.vector-icon9 {
  height: 16.32%;
  width: 7.27%;
  position: absolute;
  margin: 0 !important;
  top: 71.05%;
  right: 61.36%;
  bottom: 12.63%;
  left: 31.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon9 {
  height: 4.74%;
  width: 1.82%;
  top: 13.16%;
  right: 68.64%;
  bottom: 82.11%;
  left: 29.55%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  height: 22.63%;
  width: 7.27%;
  top: 64.74%;
  right: 37.27%;
  bottom: 12.63%;
  left: 55.45%;
}
.vector-icon11,
.vector-icon12 {
  height: 4.74%;
  width: 1.82%;
  top: 21.05%;
  right: 63.18%;
  bottom: 74.21%;
  left: 35%;
}
.vector-icon12 {
  height: 28.95%;
  width: 7.27%;
  top: 57.89%;
  right: 13.18%;
  bottom: 13.16%;
  left: 79.55%;
}
.investment-portfolio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 1.7000000000000457px;
  position: relative;
  gap: var(--gap-3xs);
}
.portfolio {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon3 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.list4 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.bell-icon {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.alerts {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon4 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.list5 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.vector-icon13 {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.analytics {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.chevron-right-icon5 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.apps-pages1,
.list6 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.list6 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-base);
}
.apps-pages1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.settings {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 55px;
}
.section2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-mini);
}
.user-circle-icon {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
}
.manage-account {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.badge1,
.div1 {
  align-self: stretch;
}
.div1 {
  width: 9px;
  position: relative;
  line-height: 14px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.badge1 {
  width: 22px;
  border-radius: var(--br-xl);
  background-color: var(--light-opacity-color-primary-primary-16);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-7xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--light-basic-typography-paragraph-small-semi-bold-size);
  color: var(--light-solid-color-primary-primary-500-base);
}
.chevron-right-icon6 {
  height: 18px;
  width: 18px;
  position: relative;
  display: none;
}
.components,
.list7,
.menu1 {
  display: flex;
  justify-content: flex-start;
}
.list7 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.components,
.menu1 {
  flex-direction: column;
}
.components {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.menu1 {
  width: 260px;
  background-color: var(--light-solid-color-extra-card-background);
  align-items: center;
  padding: 0 0 741px;
  box-sizing: border-box;
}
.heading,
.heading1 {
  position: relative;
  font-weight: 600;
}
.heading {
  margin: 0;
  width: 170.3px;
  height: 26.2px;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading1 {
  font-size: 40px;
  color: var(--color-black);
  white-space: nowrap;
}
.amount,
.amount1,
.amount2,
.amount3 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.amount4 {
  width: 33.1px;
  position: relative;
  display: flex;
  align-items: center;
}
.amount-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.amount-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 39.1px;
}
.frame-wrapper {
  width: 51.2px;
  justify-content: flex-end;
  padding: 0 0 21.5px;
  box-sizing: border-box;
}
.frame-child {
  width: 15px;
  height: 10.4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--sec-100);
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.100000000000001px 0 0;
}
.income {
  height: 18.8px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.frame-parent2 {
  width: 98.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.099999999999907px;
}
.frame-item {
  width: 15px;
  height: 10.4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--sec-1001);
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.ellipse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.100000000000001px 0 0;
}
.expenses {
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.frame-parent3 {
  flex: 1;
  flex-direction: row;
  gap: 15px;
}
.frame-parent1,
.frame-parent3,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: 23.09999999999991px;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: 5.899999999999999px 0 0;
  box-sizing: border-box;
  min-width: 153px;
}
.date-child {
  height: 31.3px;
  width: 141.5px;
  position: relative;
  border-radius: 6.66px;
  border: 0.8px solid var(--stroke);
  box-sizing: border-box;
  display: none;
}
.monthly {
  flex: 1;
  position: relative;
  z-index: 1;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  height: 25.13%;
  width: 42.86%;
  top: 40%;
  right: 27.24%;
  bottom: 34.87%;
  left: 29.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.iconarrow-square-down {
  height: 19.5px;
  width: 30.1px;
  position: relative;
  z-index: 1;
}
.date,
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.date {
  width: 141.5px;
  border-radius: 6.66px;
  border: 0.8px solid var(--stroke);
  box-sizing: border-box;
  padding: 5.899999999999999px var(--padding-7xs) 5.900000000000002px 19.5px;
  gap: 12.099999999999907px;
}
.frame-div {
  width: 423.1px;
  gap: 46.70000000000027px;
  max-width: 100%;
}
.month-navigator,
.month-navigator1,
.month-navigator2,
.month-navigator3,
.month-navigator4 {
  position: absolute;
  top: 226.8px;
  left: 0;
  border-top: 0.8px solid var(--stroke);
  box-sizing: border-box;
  width: 987.1px;
  height: 0.8px;
}
.month-navigator1,
.month-navigator2,
.month-navigator3,
.month-navigator4 {
  top: 170.1px;
  border-top: 0.8px dashed var(--stroke);
}
.month-navigator2,
.month-navigator3,
.month-navigator4 {
  top: 113.4px;
}
.month-navigator3,
.month-navigator4 {
  top: 56.7px;
}
.month-navigator4 {
  top: 0;
}
.frame-inner,
.main-menu-icon {
  position: absolute;
  top: 26.9px;
  left: 0;
  width: 974.9px;
  height: 179.8px;
  z-index: 1;
}
.frame-inner {
  top: 60.6px;
  width: 975.7px;
  height: 131.9px;
  z-index: 2;
}
.submenu,
.tooltips-button {
  position: absolute;
  box-sizing: border-box;
}
.submenu {
  top: -1px;
  left: 525.5px;
  border-right: 0.8px dashed var(--sec-100);
  width: 0.8px;
  height: 228.6px;
  z-index: 3;
}
.tooltips-button {
  top: 128px;
  left: 513.5px;
  border-radius: 50%;
  background-color: var(--sec-100);
  border: 0 solid var(--light-solid-color-extra-card-background);
  width: 24.1px;
  height: 15.6px;
  z-index: 4;
}
.wrapper-group-14-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: scale(1.55);
}
.value,
.value1,
.wrapper-group-14 {
  position: absolute;
  display: flex;
  align-items: center;
}
.wrapper-group-14 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.value,
.value1 {
  height: 16.6px;
  z-index: 1;
}
.value {
  top: 32.2px;
  left: 0;
  font-weight: 500;
  justify-content: center;
  width: 153.6px;
  white-space: nowrap;
}
.value1 {
  top: 10.7px;
  left: 25.6px;
  font-size: var(--font-size-3xs);
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  width: 128px;
}
.tooltip {
  position: absolute;
  top: 56.7px;
  left: 448.7px;
  width: 153.6px;
  height: 60.6px;
  z-index: 4;
}
.month-navigator-parent {
  align-self: stretch;
  height: 226.8px;
  position: relative;
}
.portfolio-icons {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 19px;
}
.portfolio-icons1,
.portfolio-icons2,
.portfolio-icons3,
.portfolio-icons4 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 18px;
}
.portfolio-icons2,
.portfolio-icons3,
.portfolio-icons4 {
  min-width: 20px;
}
.portfolio-icons3,
.portfolio-icons4 {
  min-width: 18px;
}
.portfolio-icons4 {
  min-width: 21px;
}
.portfolio-icons5,
.portfolio-icons6,
.portfolio-icons7,
.portfolio-icons8 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 19px;
}
.portfolio-icons6,
.portfolio-icons7,
.portfolio-icons8 {
  min-width: 15px;
}
.portfolio-icons7,
.portfolio-icons8 {
  min-width: 20px;
}
.portfolio-icons8 {
  min-width: 19px;
}
.portfolio-icons10,
.portfolio-icons11,
.portfolio-icons9 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 18px;
}
.portfolio-icons10,
.portfolio-icons11 {
  min-width: 20px;
}
.months {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.299999999999983px 0 1.3000000000000114px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--text-10);
}
.frame-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 13.699999999999989px;
  max-width: 100%;
}
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--light-basic-typography-paragraph-medium-size);
  color: var(--light-solid-color-extra-card-background);
}
.frame-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 24.4px;
  min-width: 643px;
  max-width: 100%;
  color: var(--text-80);
}
.frame-container,
.frame-group,
.heading-parent,
.menu {
  display: flex;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 13.299999999999956px;
  max-width: 100%;
  font-size: var(--font-size-3xs);
  color: var(--text-10);
  font-family: var(--font-poppins);
}
.heading-parent,
.menu {
  align-items: flex-start;
  text-align: left;
  color: var(--color-lightslategray);
  font-family: var(--light-basic-typography-paragraph-medium);
}
.heading-parent {
  flex: 1;
  background-color: var(--light-solid-color-extra-card-background);
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-11xl);
  box-sizing: border-box;
  max-width: calc(100% - 260px);
  font-size: var(--font-size-lg);
}
.menu {
  width: 1374px;
  max-width: 100%;
  flex-direction: row;
  letter-spacing: normal;
  font-size: var(--light-basic-typography-caption-size);
}
@media screen and (max-width: 1050px) {
  .menu1 {
    padding-bottom: 482px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .menu1 {
    display: none;
  }
  .heading1 {
    font-size: 32px;
  }
  .frame-container {
    min-width: 100%;
  }
  .heading-parent {
    max-width: 100%;
  }
  .menu {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .menu1 {
    padding-bottom: 313px;
    box-sizing: border-box;
  }
  .portfolio-icons1,
  .portfolio-icons3 {
    width: 100%;
    height: 18px;
  }
  .portfolio-icons6 {
    width: 100%;
    height: 15px;
  }
  .portfolio-icons9 {
    width: 100%;
    height: 18px;
  }
  .months {
    flex-wrap: wrap;
  }
  .heading-parent {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading1 {
    font-size: var(--font-size-5xl);
  }
  .frame-div {
    flex-wrap: wrap;
    gap: 46.7px 23px;
  }
}
