.meta-1-1-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.meta {
  position: relative;
  font-weight: 500;
}
.meta-1-1-parent {
  width: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.div10,
.meta1 {
  position: relative;
  text-transform: uppercase;
}
.div10 {
  color: var(--color-red);
}
.meta-parent {
  width: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-72xl);
}
.current-value,
.div11 {
  position: relative;
  text-transform: capitalize;
}
.div11 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--others-white);
}
.current-value-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.group-icon {
  width: 78px;
  position: relative;
  height: 24px;
}
.frame-parent4,
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  color: var(--color-gray-700);
}
.frame-parent4 {
  position: absolute;
  top: 0;
  left: 217px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumpurple);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xs);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--others-white);
  font-family: var(--light-basic-typography-paragraph-small-semi-bold);
}
