.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: var(--color-lightslategray);
  font-family: var(--light-basic-typography-paragraph-medium);
  font-size: var(--light-basic-typography-caption-size);
  width: max-content;
  flex-direction: row;
  letter-spacing: normal;
}
.main-menu {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 65px;
}
.section {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-11xl);
}
.apps-pages {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.todo {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 31px;
}
.section1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-mini);
}
.apps-pages1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.settings {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 55px;
}
.section2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-mini);
}
.manage-account {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  font-family: inherit;
}
.components {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}
.menu1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 260px;
  background-color: var(--light-solid-color-extra-card-background);
  align-items: center;
  padding: 0 0 741px;
  box-sizing: border-box;
}
@media screen and (max-width: 1050px) {
  .menu1 {
    padding-bottom: 482px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .menu1 {
    display: none;
  }
  .menu {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .menu1 {
    padding-bottom: 313px;
    box-sizing: border-box;
  }
}