.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  flex: 1;
  background-color: var(--light-solid-color-extra-card-background);
  padding: 0 0 var(--padding-55xl);
  width: 60%;
  color: var(--color-gray-200);
  border-radius: var(--br-7xs);
  box-shadow: var(--light-gray-gray-sm);
}

.header-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}

.header-text {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  align-self: stretch;
  height: max-content;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-lg);
  font-size: var(--light-basic-typography-paragraph-medium-size);
}

.table-header-container {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 1px solid var(--light-solid-color-extra-divider);
  overflow-x: auto;
  font-size: var(--light-basic-typography-paragraph-small-semi-bold-size);
  color: var(--color-lightslategray);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-text-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base-5) var(--padding-xl);
  box-sizing: border-box;
}

.id-text {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.type-text {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.ticker-text {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.amount-text {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

.list8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-13xl);
}

.list9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-13xl);
}

.list10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-13xl);
}

.list11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-13xl);
}

.list12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-13xl);
}

.amount5 {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .text {
    min-width: 100%;
  }
  .header {
    flex-wrap: wrap;
  }
  .list10,
  .list11,
  .list12,
  .list8,
  .list9 {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .body {
    height: auto;
  }
  .card {
    min-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
}
