#root {
  width: 100%;
  margin: 0 0;
}
.topleft {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 18px;
}
h1 {
  font-size: 2.1em;
  line-height: 1.1;
  margin-left: 20px;
  margin-top: 15px;
  color: black;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
